.title-stats{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 1.6em;
    color: #21254b;
}

.semanalStats:last-child .panel-box {
    background-color: #d23540;
    color: #fff;
}